/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.name-input {
  margin-top: 20px; /* Adjust spacing above the name input section */
}

.name-input input {
  padding: 10px;
  font-size: 1rem;
}

.name-input button {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}

.name-list {
  margin-top: 10px;
}

.name-list ul {
  list-style: none;
  padding: 0;
}

.name-list li {
  font-size: 1rem;
  margin: 5px 0;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.timer button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.inputs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputs input {
  width: 3em; /* Width relative to the font size */
  font-size: 2rem;
  text-align: center;
}

.inputs span {
  font-size: 2rem;
  margin: 0 1em; /* Spacing using em units to keep it relative */
}

.current-name h2 {
  margin-top: 20px;
}
